@using Microsoft.AspNetCore.Mvc.Localization
@using Trainer.Application.Aggregates.Examination.Commands.UpdateExamination
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["UpdateExamination"];
}
@model UpdateExaminationCommand
<h2>@Localizer["UpdateExamination"]</h2>
<form method="post" enctype="multipart/form-data" asp-controller="Examination" asp-action="UpdateModel" asp-route-id="@ViewBag.Examination.Id">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="TypePhysicalActive">@Localizer["TypePhysicalActive"]</label><br />
            <select asp-for="TypePhysicalActive" class="form-control" id="select">
                <option value="0">@Localizer["Run"]</option>
                <option value="1">@Localizer["Walk"]</option>
                <option value="2">@Localizer["Bike"]</option>
                <option value="3">@Localizer["Swim"]</option>
                <option value="4">@Localizer["Gym"]</option>
            </select>
        </div>
        <div class="form-group">
            <label>@Localizer["Sensors"]</label><br />
            <div class="form-check">
                @if (ViewBag.Examination.Indicator1)
                {
                    <input type="checkbox" asp-for="Indicator1" class="form-check-input" checked />
                }
                else
                {
                    <input type="checkbox" asp-for="Indicator1" class="form-check-input" />
                }
                <label class="form-check-label">@Localizer["DiaSis"]</label>
            </div>
            <div class="form-check">
                @if (ViewBag.Examination.Indicator2)
                {
                    <input type="checkbox" asp-for="Indicator2" class="form-check-input" checked />
                }
                else
                {
                    <input type="checkbox" asp-for="Indicator2" class="form-check-input" />
                }
                <label class="form-check-label">@Localizer["Tempareture"]</label>
            </div>
            <div class="form-check">
                @if (ViewBag.Examination.Indicator3)
                {
                    <input type="checkbox" asp-for="Indicator3" class="form-check-input" checked />
                }
                else
                {
                    <input type="checkbox" asp-for="Indicator3" class="form-check-input" />
                }
                <label class="form-check-label">@Localizer["HeartRate"]</label>
            </div>
            <div class="form-check">
                @if (ViewBag.Examination.Indicator4)
                {
                    <input type="checkbox" asp-for="Indicator4" class="form-check-input" checked />
                }
                else
                {
                    <input type="checkbox" asp-for="Indicator4" class="form-check-input" />
                }
                <label class="form-check-label">@Localizer["SpO2"]</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date">@Localizer["DateExamination"]</label><br />
            <input asp-for="Date" class="form-control" type="date" />
        </div>
        <div>
            <div>
                <button type="submit" class="btn btn-primary mt-1">@Localizer["Update"]</button>
            </div>
        </div>
    </div>
</form>

<script>
    document.getElementById('select').value = @((int)ViewBag.Examination.TypePhysicalActive);
</script>