@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model ValidateSmsCode;
@{
    ViewData["Title"] = @Localizer["CheckCode"];
}

<div class="col-md-4">
    <form method="post" asp-controller="OTP" asp-action="VerifyCode" asp-route-email="@ViewBag.Email"  asp-route-OTPaction="@ViewBag.Action">
        <h3>@Localizer["CheckCode"]</h3>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Codes">@Localizer["Code"]</label>
            <input asp-for="Codes" class="form-control" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-1">@Localizer["Check"]</button>
        </div>
    </form>
</div>