@using Microsoft.AspNetCore.Mvc.Localization;
@using Trainer.Application.Aggregates.BaseUser.Commands.ResetPasswordUser;
@inject IViewLocalizer Localizer
@model ResetPasswordUserCommand;
@{
    ViewData["Title"] = @Localizer["RessetPassword"];
}

<div class="col-md-4">
    <form method="post" asp-controller="BaseUser" asp-action="ResetPassword" asp-route-Email="@ViewBag.Email">
        <h3>@Localizer["RessetPassword"]</h3>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Password">@Localizer["Password"]</label>
            <input asp-for="Password" class="form-control" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">@Localizer["ConfirmPassword"]</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-1">@Localizer["Reset"]</button>
        </div>
    </form>
</div>