@using Microsoft.AspNetCore.Mvc.Localization
@using Trainer.Application.Aggregates.Patient.Commands.UpdatePatient
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["UpdatePatient"];
}
@model UpdatePatientCommand
<h2>@Localizer["UpdatePatient"]</h2>
<form method="post" enctype="multipart/form-data" asp-controller="Patient" asp-action="UpdateModel" asp-route-id="@ViewBag.Patient.Id">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="FirstName">@Localizer["FirstName"]</label><br />
            <input asp-for="FirstName" value="@ViewBag.Patient.FirstName" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="MiddleName">@Localizer["MiddleName"]</label><br />
            <input asp-for="MiddleName" value="@ViewBag.Patient.MiddleName" class="form-control" />
            <span asp-validation-for="MiddleName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">@Localizer["LastName"]</label><br />
            <input asp-for="LastName" value="@ViewBag.Patient.LastName" class="form-control" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">@Localizer["Email"]</label><br />
            <input asp-for="Email" value="@ViewBag.Patient.Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age">@Localizer["Age"]</label><br />
            <input asp-for="Age" value="@ViewBag.Patient.Age" class="form-control" />
            <span asp-validation-for="Age"></span>
        </div>
        <div class="form-group">
            <label asp-for="Sex">@Localizer["Sex"]</label><br />
            <select asp-for="Sex" class="form-control" id="select">
                <option value="0">@Localizer["Female"]</option>
                <option value="1">@Localizer["Male"]</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mt-1">@Localizer["Update"]</button>
        </div>
    </div>
</form>

<script>
    document.getElementById('select').value = @((int)ViewBag.Patient.Sex);
</script>